<%# app/views/admin/movies/new.html.erb %>
<h1>Añadir Nueva Película</h1>

<%= render 'form' %> <%# Esto renderiza el parcial _form.html.erb %>

<br>
<%= link_to 'Volver al listado', admin_movies_path %>