header nav ul {
    list-style: none; // Quita los puntos de la lista
    padding: 0;
    margin: 0;
    display: flex; // Usa Flexbox para alinear los ítems
    justify-content: center; // Centra los ítems

    li {
      margin: 0 $spacing-unit / 2; // Espacio entre ítems

        a {
            color: $header-footer-text;
            font-weight: bold;

        &:hover {
            color: darken($header-footer-text, 20%);
            text-decoration: none; // Mantenemos sin subrayado en hover para la nav
            }
        }
    }
    // Ejemplo en _navigation.scss o _buttons.scss
    .button-link-nav {
        background: none;
        border: none;
        padding: 0;
        margin: 0;
        color: $header-footer-text; // Usa la variable de color del texto del nav
        font-weight: bold;
        font-family: inherit; // Hereda la fuente del nav
        font-size: inherit; // Hereda el tamaño de fuente
        cursor: pointer;
        text-decoration: none;
    
        &:hover {
        color: darken($header-footer-text, 20%);
        text-decoration: none;
        }
    }
}