// app/assets/stylesheets/components/_filters.scss (o donde prefieras)
.genre-filters {
    a {
      margin-left: 5px;
      margin-right: 5px;
      text-decoration: none;
      color: $link-color;
  
      &:hover {
        text-decoration: underline;
      }
  
      &.active-filter { // Estilo para el filtro/género actualmente seleccionado
        font-weight: bold;
        color: $text-color; // O un color distintivo
        text-decoration: none;
        cursor: default;
      }
    }
  }